* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* FIGURE OUT A WAY TO ADD BACKGROUND IMG WITHOUT looking weird */
  /* background-image: url("./images/hills.jpg"); */
}

body {
  background-image: url("./images/hills2.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

#thumbnail-container {
  height: 60px;
  width: auto;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  /* what is this doing */
  z-index: 100;
  background-color: rgb(143, 100, 83);
  bottom: 3vh;
  left: 50%;
  padding: 5px;
  /* adds curve to boxes */
  border-radius: 4px;
  /* what is this doing */
  backdrop-filter: blur(5px);
  /* this one moves it off-screen a bit? */
  /* transform: translateX(-50%); */
  overflow: scroll;
}

#fullscreen-container {
  display: block;
  /* what does this do? */
  unicode-bidi: isolate;
}

.thumbnail-img {
  width: 70px;
  height: 50px;
  padding: 2px;
  cursor: pointer;
}

.fullscreen-img {
  width: 100%;
  height: 100vh;
  /*what is this doing */
  overflow: hidden;
  /* what is this doing */
  object-fit: cover;
}

/* add media query so that if you look at it on a phone the thumbnails are in a column */

@media (max-width: 600px) {
  #thumbnail-container {
    flex-direction: column;
    height: auto;
    width: 80px;
    left: 2vh;
    top: 50%;
    transform: translateY(-50%);
  }
}
